* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgba(175, 47, 47, 0.15);
    width: 100%;
    font-size: 100px;
    font-weight: 100;
}

#input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

/* Set the list item styles */
#list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ededed;
}

/* Set the footer styles */
footer {
    margin: 65px ;
    color: #bfbfbf;
    font-size: 10px;
    text-align: center;
    line-height: 1.4em
    }